<!DOCTYPE html>
<html ng-app="MiPrimeraApp">
<head>
	<meta charset="utf-8">
	<title>Controlador</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="PrimerControlador">
	<input type="text" ng-model="nuevaPersona.nombre">
	<br>
	<input type="text" ng-model="nuevaPersona.apellido">
	<br>
	<input type="text" ng-model="nuevaPersona.edad">
	<button ng-click="agregarPersona()">Agregar persona</button>
	<h3>Personas</h3>
	<ul>
		<li ng-repeat="persona in personas">
			{{persona.nombre}} - {{persona.apellido}} - {{persona.edad}}
		</li>
	</ul>
</body>
</html>