<!DOCTYPE html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Angularjss</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
</head>

<body ng-controller="FirstController">
	<div align="center"><h1><strong>Aplicación de Votos</strong></h1></div>
	<hr>
	<form ng:submit="agregarpersonas(nuevapersona)">
		<p align="center">
			<label for="txtDni">DNI: </label>
			<input type="text" name="txtDni" id="txtDni" ng-model="nuevapersona.dni" placeholder="Ingrese DNI">
		</p>
			<p align="center">
				<button type="submit">
					<span>Ingresar</span>
				</button>
				<button type="reset">
					<span>Cancelar</span>
				</button>
			</p>
	</form>

	<h3>Listado de Personas</h3>
	<ol>
		<li ng-repeat="persona in personas">
			{{persona.dni}}
		</li>
	</ol>
	<h3> Tabla </h3>
	<table border="1">

		<tr>
			<th>Dni</th>
		</tr>
		<tr ng-repeat="(key, persona) in personas">
			<td>{{persona.dni}} </td>
			<!--<td>
				<button ng:click="editar(persona)">Editar</button>
				<button ng:click="eliminar(persona, key)">Eliminar</button>
			</td>-->
		</tr>
	</table>
	<script src="controlador/module.js"></script>
	<script src="controlador/controller.js"></script>
</body>

</html>